SimpleEnterpriseFramework/ClientDemo/obj/Debug/
SimpleEnterpriseFramework/ClientDemo/bin/Debug/
SimpleEnterpriseFramework/IoC/obj/Debug/
SimpleEnterpriseFramework/IoCTest/obj/Debug/
SimpleEnterpriseFramework/UI/obj/Debug
SimpleEnterpriseFramework/UI/bin/Debug/
SimpleEnterpriseFramework/IoCTest/bin/Debug/
SimpleEnterpriseFramework/IoC/bin/Debug/
SimpleEnterpriseFramework/ClientDemo/obj/
SimpleEnterpriseFramework/IoC/obj/
SimpleEnterpriseFramework/IoCTest/obj/
