<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="person"
          class="IoCTest.Person"
          Name="Hieu"
          Age="21"/>
  <bean id="person2"
          class="IoCTest.Peron"
          Name="Hieu"
          Age="21"/>
  <bean id="person2"
          class="IoCTest.Person"
          name="Hieu"
          Age="21"/>
</beans>